.nav {
  min-height: calc(100vh - 64px);
}

.nav[mode="side"] {
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;

  & > * {
    flex-shrink: 0;
  }

  & > mat-drawer {
    background: rgba(0, 0, 0, 0.02);
  }

  & mat-divider {
    width: 150px;
  }

  & .mat-nav-list {
    overflow-x: hidden;
  }
}

.drawer-row {
  display: flex;
  flex-direction: row;
}

mat-nav-list {
  & > a.nav-group-item {
    font-weight: 500;
    padding-top: 5px;
  }

  & > a:not(.nav-group-item) {
    padding-left: 15px;
  }

  & > a {
    font-size: 14px;
    height: 35px;

    mat-icon {
      padding-right: 5px;
    }
  }
}

main {
  width: 100%;
}
