<div *ngIf="router.url.includes('frontscreen'); else normalHome">
  <router-outlet></router-outlet>
</div>
<ng-template #normalHome>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Escape Management</span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav [fixedTopGap]="56" [mode]="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/devices"><mat-icon>important_devices</mat-icon> Devices &amp; Streams</a>
        <a mat-list-item routerLink="/rooms"><mat-icon>score</mat-icon> Rooms &amp; Scores</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
