.container {
  background-color: black;
  height: calc(100vh);
  width: calc(100vw);
}

/deep/ .carousel-slide {
  height: calc(100vh) !important;
  width: calc(100vw) !important;
  overflow: hidden;
  padding-bottom: 0px !important;
}

.card {
  font-family: Abel;
  font-weight: 900;
  color: rgba(243, 146, 0, 1);
  height: calc(100vh);
  width: calc(100vw);
  overflow: hidden;
}

.card-header {
  margin-left: 30px;
  height: calc(10vh);
}

.card-title {
  font-size: 44px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: 35px;
  color: rgba(243, 146, 0, 0.8);
  margin-top: 4px;
  margin-bottom: 16px;
}

.card > .img-container > img {
  max-width: calc(100vw);
  max-height: calc(70vh);
  object-position: center;
  object-fit: cover;
}

.card > .img-container {
  width: calc(100vw);
  height: calc(70vh);
  object-position: center;
  object-fit: cover;
}

.card-row {
  margin-top: 10px;
  height: calc(20vh);
  display: flex;
  flex-direction: row;
}

.card-row-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.card-row-element > .mat-icon {
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.card-row-element > p {
  font-size: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-row-element > p:first-child {
  font-weight: 600;
  color: rgba(243, 146, 0, 0.8);
}

.card-row-element > p:last-child {
  margin-top: 4px;
  font-weight: 800;
}

.logo-background {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: scale-down;
}
