.card-container {
  display: flex;
  flex-direction: row;
  min-height: calc(50vh);
  margin-left: 5px;
  margin-right: 5px;
}

.card-container > mat-card {
  width: 100%;
  margin: 5px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.top-bar h1 {
  margin-top: 20px;
  margin-left: 40px;
  color: rgba(243, 146, 0, 1);
  font-weight: 900;
  font-family: Abel;
  font-size: 35pt;
}

.logo {
  width: auto;
  height: 100px;
}

#frontscreen .card .card-body h2 {
  font-size: 1.9rem;
}

#frontscreen .card {
  min-height: calc(76vh);
}

.table small {
  color:  var(--gray);
}
