.card-container {
    display: flex;
    flex-direction: row;
    min-height: calc(50vh);
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100vw);
}

.card-container>mat-card {
    width: 100%;
    margin: 5px;
}

.card-container>mat-card>img {
    width: unset;
    max-width: calc(100% + 32px - 2px);
    max-height: calc(25vh - 2px);
    padding: 1px;
}

.mat-card-content {
    margin: 0px 16px;
}

.mat-card-title {
    font-size: 30pt;
}

.subtitle {
    color: rgba(0, 0, 0, .80);
    font-size: 24pt;
}

.top-bar {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.top-bar h1 {
    margin-top: 20px;
    margin-left: 40px;
    color: rgba(243, 146, 0, 1);
    font-weight: 900;
    font-family: Abel;
    font-size: 35pt;
}

.logo {
    width: auto;
    height: 100px;
}

#frontscreen .card .card-body h2 {
    font-size: 1.9rem;
}

#frontscreen .card {
    min-height: calc(76vh);
}

.table {
    width: 100%;
    color: rgba(0, 0, 0, .80);
    font-size: 16pt;
    border-collapse: collapse;
}

tr.rank {
    margin-top: 1px;
    margin-bottom: 1px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #222222;
    height: 58px;
}

tr.rank:first-child {
    border-top: none;
}

tr.rank:last-child {
    border-bottom: none;
}

th.rank {
    padding-right: 5px;
    padding-left: 0px;
}

td.rank {
    padding-right: 5x;
    padding-left: 0px;
    font-size: 20pt;
}

th.name {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

td.name {
    padding-left: 5px;
    padding-right: 5px;
}

td.name>p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

td.name>p.name {
    float: left;
    padding-left: 0px;
    width: 100%;
}

td.name>p.date {
    float: right;
    color: rgba(0, 0, 0, .60);
    text-align: right;
    padding-right: 0px;
}


th.time {
    padding-right: 10px;
    text-align: right;
    width: 15%;
}

td.time {
    padding-left: 5px;
    padding-right: 0px;
    text-align: right;
    font-size: 18pt;
}
