<div>
  <div class="top-bar">
    <img class="logo" src="assets/houdinis_quest_logo_2018_neu_300_weiss.png">
    <h1>Houdini's Quest - Adventure Game</h1>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let room of rooms">
      <mat-card-header>
        <mat-card-title>{{room.name}}</mat-card-title>
        <mat-card-subtitle>Bestzeiten</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{imagePath(room.profile_image)}}">
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 15%">#</th>
              <th scope="col">Name</th>
              <th scope="col" style="width: 20%">Zeit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let score of room.scores; index as i">
              <th scope="row">{{score.rank}}</th>
              <td>{{score.name}} <small>{{formatDate(score.created_at)}}</small></td>
              <td>{{formatTime(score.time)}}</td>
            </tr>
          </tbody>
        </table>

      </mat-card-content>
    </mat-card>

  </div>
</div>