.card-container {
  display: flex;
  flex-direction: row;
  min-height: calc(50vh);
  margin-left: 5px;
  margin-right: 5px;
}

.card-container > mat-card {
  width: 100%;
  margin: 5px;
}

.card-container > mat-card > img {
  width: unset;
  max-width: calc(100% + 32px);
  max-height: calc(25vh);
}

 .mat-card-content {
  margin: 0px 16px;
}

.mat-card-title {
  font-size: 30pt;
}

.subtitle {
  color: rgba(0,0,0,.80);
  font-size: 24pt;
}

.top-bar {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.top-bar h1 {
  margin-top: 20px;
  margin-left: 40px;
  color: rgba(243, 146, 0, 1);
  font-weight: 900;
  font-family: Abel;
  font-size: 35pt;
}

.logo {
  width: auto;
  height: 100px;
}

#frontscreen .card .card-body h2 {
  font-size: 1.9rem;
}

#frontscreen .card {
  min-height: calc(76vh);
}

.table {
  width: 100%;
  color: rgba(0,0,0,.80);
}

div.small {
  color: rgba(0,0,0,.60);
  text-align: right;
  padding-right: 20px;
}

th.time {
  padding-right: 20px;
  text-align: right;
  width: 20%;
}

td.time {
  text-align: right;
}

th.rank {
  padding-right: 10px;
  padding-left: 10px;
}
