<mat-list>
  <a mat-list-item>Devices</a>
</mat-list>
<mat-divider></mat-divider>
<mat-drawer-container autosize>
  <mat-drawer opened="true" disableClose mode="side">
    <mat-form-field class="form-full-width">
      <input matInput placeholder="Filter" (keyup)="applyDeviceFilter($event.target.value)">
    </mat-form-field>

    <mat-button-toggle-group vertical="true">
       <mat-button-toggle *ngFor="let device of filteredDevices" value="device" (click)="selectDevice(device)" [checked]="deviceSelected == device">
         <div class="button-text">
           <div>{{device.name}}</div>
           <div class="text-muted">{{device.mac}}</div>
           <div class="text-muted">Last seen {{deviceLastSeen(device.last_seen)}}</div>
         </div>
       </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="device-add-field">
      <button mat-button color="primary" (click)="addDeviceDialog()">Add new Device</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="deviceSelected != null" class="form-container">
      <mat-form-field>
        <input matInput [(ngModel)]="deviceSelected.name" placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="deviceSelected.mac" placeholder="MAC Address">
      </mat-form-field>

      <mat-form-field class="preset-form-field">
        <mat-label>Preset</mat-label>
        <mat-select [value]="findActivePreset()">
          <mat-option *ngFor="let preset of presets" [value]="preset">
            {{preset.name}} {{preset.active ? "*": ""}}
          </mat-option>
        </mat-select>
        <mat-hint align="start"><strong>Showing streams for this preset</strong></mat-hint>
      </mat-form-field>

      <div>
        <table mat-table [dataSource]="deviceSelectedStreamsDataSource">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="deleteStreamFromDevice(deviceSelected, element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['name', 'controls']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'controls']"></tr>
        </table>
      </div>

      <div class="stream-add-field">
        <button mat-button color="primary" (click)="addStreamDialog(deviceSelected)">Add additional Stream</button>
      </div>

      <div class="buttons">
        <button mat-raised-button color="warn" (click)="deleteDeviceDialog(deviceSelected)">Delete</button>
        <button mat-raised-button color="primary" (click)="updateDevice(deviceSelected)">Save</button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!--
<div class="container">
  <div class="row">
    <h1>Devices</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <button class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let dev of devices" (click)="dev_selected=dev" [ngClass]="{'active': dev_selected == dev}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{dev.name}}</h5>
            <small class="text-muted">Last seen {{deviceLastSeen(dev.last_seen)}}</small>
          </div>
          <small>{{dev.mac}}</small>
        </button>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newDevice"><i class="fas fa-plus-circle"></i> Add</a>
      </div>
    </div>
    <div class="col-sm-8" *ngIf="dev_selected">
      <h2>Settings</h2>

      <form>
        <div class="form-group">
          <label for="devName">Name</label>
          <input type="text" class="form-control" id="devName" name="devName" [(ngModel)]="dev_selected.name">
        </div>
        <div class="form-group">
          <label for="devMac">MAC Address</label>
          <input type="text" class="form-control" id="devMac" name="devMac" [(ngModel)]="dev_selected.mac">
        </div>
        <div class="form-group">
          <label>Streams</label>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let stream of dev_selected.streams">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{stream.name}}</h5>
                <a href="#" (click)="removeStreamFromDevice(dev_selected, stream)"><i class="fas fa-trash-alt"></i></a>
              </div>
            </li>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#addStream"><i class="fas fa-plus-circle"></i> Add</a>
          </ul>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="devScreenEnable" name="devScreenEnable" [(ngModel)]="dev_selected.screen_enable">
          <label class="form-check-label" for="devScreenEnable">Enable Screen</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="updateDevice(dev_selected)">Save</button>
        <button class="btn btn-danger" (click)="deleteDevice(dev_selected)"><i class="fas fa-trash-alt"></i> Delete</button>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="addStream" tabindex="-1" role="dialog" aria-labelledby="addStreamLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStreamLabel">Add Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group" *ngFor="let stream of streams" (click)="stream_selected=stream">
          <button class="list-group-item list-group-item-action flex-column align-items-start" [ngClass]="{'active': stream_selected == stream}">
            <h5 class="mb-1">{{stream.name}}</h5>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dev_selected.streams.push(stream_selected)">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newDevice" tabindex="-1" role="dialog" aria-labelledby="newDeviceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDeviceLabel">Create Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="devName">Name</label>
          <input type="text" class="form-control" id="devName" name="devName" [(ngModel)]="new_dev_name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="device_add(new_dev_name)">Add</button>
      </div>
    </div>
  </div>
</div>
-->
