<mat-list>
    <a mat-list-item>Devices</a>
</mat-list>
<mat-divider></mat-divider>
<mat-spinner class="spinner-center" *ngIf="!loaded"></mat-spinner>
<mat-drawer-container [autosize]=true class="drawer-list">
    <mat-drawer [opened]=true [disableClose]=true mode="side">
        <mat-form-field class="form-full-width">
            <input matInput placeholder="Filter" (keyup)="applyDeviceFilter($event.target.value)">
        </mat-form-field>

        <mat-button-toggle-group [vertical]=true>
            <mat-button-toggle *ngFor="let device of filteredDevices" value="device" (click)="selectDevice(device)" [checked]="deviceSelected == device">
                <div class="button-text">
                    <div>{{device.name}}</div>
                    <div class="text-muted">{{device.mac}}</div>
                    <div class="text-muted">Last seen {{deviceLastSeen(device)}}</div>
                </div>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <div class="device-add-field">
            <button mat-button color="primary" (click)="addDeviceDialog()">Add new Device</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <device-edit *ngIf="deviceSelected != null" [device]="deviceSelected">
        </device-edit>
    </mat-drawer-content>
</mat-drawer-container>
