<mat-list>
    <a mat-list-item>Screens</a>
</mat-list>
<mat-divider></mat-divider>
<mat-spinner class="spinner-center" *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded && presetGroups.length == 0">
    No preset groups found. You need to create groups before you can use this page.
</div>
<mat-tab-group *ngIf="loaded && presetGroups.length > 0">
    <mat-tab *ngFor="let pg of presetGroups">
        <ng-template mat-tab-label>
            <mat-icon>tv</mat-icon>
            {{pg.name}}
        </ng-template>
        <screen-group [pg]="pg"></screen-group>
    </mat-tab>
</mat-tab-group>
