<!--
<div class="modal fade" id="editStreamView" tabindex="-1" role="dialog" aria-labelledby="editStreamView" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="editViewLabel">View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="streamUrl">URL</label>
            <input type="text" class="form-control" id="streamUrl" name="streamUrl" placeholder="rtsp://example/stream" [(ngModel)]="view.url">
          </div>
          <div class="form-group">
            <label for="streamX1">Crop X1</label>
            <input type="text" class="form-control" id="streamX1" name="streamX1" placeholder="0" [(ngModel)]="view.crop_x1">
          </div>
          <div class="form-group">
            <label for="streamY1">Crop Y1</label>
            <input type="text" class="form-control" id="streamY1" name="streamY1" placeholder="0" [(ngModel)]="view.crop_y1">
          </div>
          <div class="form-group">
            <label for="streamX2">Crop X2 (Width)</label>
            <input type="text" class="form-control" id="streamX2" name="streamX2" placeholder="1920" [(ngModel)]="view.crop_x2">
          </div>
          <div class="form-group">
            <label for="streamY2">Crop Y2 (Height)</label>
            <input type="text" class="form-control" id="streamY2" name="streamY2" placeholder="1080" [(ngModel)]="view.crop_y2">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="submitStreamView()">Okay</button>
        </div>
      </form>
    </div>
  </div>
</div>
-->

<mat-list>
  <a mat-list-item>Streams</a>
</mat-list>
<mat-divider></mat-divider>
<div class="table-container">
  <mat-form-field class="form-full-width">
    <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

  <table mat-table [dataSource]="streamsDataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editStreamDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteStreamDialog(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'controls']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'controls']"></tr>
  </table>

</div>

<div class="stream-add-field">
  <button mat-button color="primary" (click)="addStreamDialog()">Add new Stream</button>
</div>
