@import 'src/styles.scss';

.form-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-container>.buttons {
    flex-direction: row;
}

.form-container>.buttons button {
    margin-left: 4px;
    margin-right: 4px;
}
