.cards {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;

  flex-direction: row;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.cards > .mat-card {
  width: 100%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
