<mat-list>
    <a mat-list-item>Payments</a>
</mat-list>
<mat-divider></mat-divider>
<mat-spinner class="spinner-center" *ngIf="!loaded"></mat-spinner>
<div class="container">
    <div class="receipt">
        <h4>Transaktion</h4>
        <div class="tables">
            <div class="receipt-table-container">
                <table mat-table [dataSource]="articlesDataSource">
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Artikel</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Wert</th>
                        <td mat-cell *matCellDef="let element">{{element.price}} CHF</td>
                    </ng-container>

                    <ng-container matColumnDef="controls">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="deleteItem(articlesDataSource, element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['description', 'price', 'controls']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['description', 'price', 'controls']"></tr>
                </table>
                <div>
                    Total: {{total(articlesDataSource)}} CHF
                </div>
            </div>
            <div class="receipt-table-container">
                <table mat-table [dataSource]="receivedDataSource">
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Erhalten</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Wert</th>
                        <td mat-cell *matCellDef="let element">{{element.price}} CHF</td>
                    </ng-container>

                    <ng-container matColumnDef="controls">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="deleteItem(receivedDataSource, element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['description', 'price', 'controls']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['description', 'price', 'controls']"></tr>
                </table>
                <div>
                    Restbetrag: {{total(articlesDataSource) + total(receivedDataSource)}} CHF
                </div>
            </div>
        </div>
    </div>
    <div class="form">
        <div class="articles">
            <h3>Artikel</h3>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openBookingDialog()">
                    Raum
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openAmountDialog()">
                    Betrag
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openSnackGalleryDialog()">
                    Getraenke / Snacks
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openDiscountDialog()">
                    Rabatt
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="payment-methods">
            <h3>Zahlungsmethoden</h3>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openCashDialog()">
                    Bar
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openCreditCardDialog()">
                    Karte
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <button mat-raised-button color="primary" (click)="openVoucherDialog()">
                    Gutschein
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<button mat-raised-button color="accent" class="submit">
    Abschliessen
</button>
