<mat-list>
    <a mat-list-item>Payments</a>
</mat-list>
<mat-divider></mat-divider>
<mat-spinner class="spinner-center" *ngIf="!loaded"></mat-spinner>
<div class="container">
    <div class="receipt">
        <h4>Transaktion</h4>
        <div class="tables">
            <div class="receipt-table-container">
                <table mat-table [dataSource]="itemsDataSource">
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Artikel</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Wert</th>
                        <td mat-cell *matCellDef="let element">{{element.price}} CHF</td>
                    </ng-container>

                    <ng-container matColumnDef="controls">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['description', 'price', 'controls']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['description', 'price', 'controls']"></tr>
                </table>
            </div>
            <div class="receipt-table-container">
                <table mat-table [dataSource]="items2DataSource">
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Erhalten</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Wert</th>
                        <td mat-cell *matCellDef="let element">{{element.price}} CHF</td>
                    </ng-container>

                    <ng-container matColumnDef="controls">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['description', 'price', 'controls']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['description', 'price', 'controls']"></tr>
                </table>
            </div>
        </div>
        <div>
            Restbetrag: 100 CHF
        </div>
    </div>
    <div class="form">
        <div class="articles">
            <h3>Artikel</h3>
            <div class="item-row">
                <span>Raum</span>
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <span>Betrag</span>
                <mat-form-field>
                    <input matInput placeholder="Betrag" [required]=true>
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <span>Getraenke/Snacks</span>
                <button mat-icon-button>
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <span>Rabatt</span>
                <mat-form-field>
                    <input matInput placeholder="Betrag" [required]=true>
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>
        </div>
        <div class="payment-methods">
            <h3>Zahlungsmethoden</h3>
            <mat-form-field appearance="outline">
                <mat-label>Bargeld</mat-label>
                <input matInput>
                <button mat-button mat-icon-button matSuffix>
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Kreditkarte</mat-label>
                <input matInput>
                <button mat-button mat-icon-button matSuffix>
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gutschein</mat-label>
                <input matInput>
                <button mat-button mat-icon-button matSuffix>
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
            <div class="item-row">
                <span>Bar</span>
                <mat-form-field>
                    <input matInput placeholder="Betrag" [required]=true>
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <span>Kreditkarte</span>
                <mat-form-field>
                    <input matInput placeholder="Betrag" [required]=true>
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon (click)="openCreditCardDialog()">add</mat-icon>
                </button>
            </div>
            <div class="item-row">
                <!-- Dialog? -->
                <span>Gutschein</span>
                <mat-form-field>
                    <!-- Add -/+ buttons to adjust #persons -->
                    <input matInput placeholder="#Personen" [required]=true>
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
