$orange: #f39200;
@import "/npm/node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "/npm/node_modules/material-design-icons-iconfont/dist/material-design-icons.css";
@import "/npm/node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
@import "/npm/node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css";
@import "/npm/node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css";
@import "/npm/node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";
@import "/npm/node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";

@mixin button-add-field {
    background: rgba(0, 0, 0, 0.03);
}

@mixin sidenav-container {
    min-height: calc(100vh - 64px);

    &>mat-sidenav {
        background: rgba(0, 0, 0, 0.02);
    }

    &>.mat-sidenav-content {
        overflow: visible;
    }

    &>mat-sidenav>mat-nav-list>a.mat-list-item:not(.main) {
        font-size: 14px;
    }
}

@mixin drawer-button-list {
    overflow: visible;

    &>.mat-drawer {
        padding: 10px;
        min-width: calc(15vw);
        overflow-y: visible;
        bottom: initial;

        @media only screen and (max-width: 850px) {
            position: relative;
        }
    }

    &>.mat-drawer .mat-button-toggle-group {
        width: 98%;
    }

    &>.mat-drawer-content {
        @media only screen and (max-width: 850px) {
            margin-left: 0px !important;
        }
    }
}

.form-full-width {
    width: 98%;
}

.spinner-center {
    margin: auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
