@import 'styles.scss';

.mat-accordion {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.room-form-container {
  display: flex;
  flex-direction: column;
}

.room-form-container > .buttons {
  flex-direction: row;
}

.room-form-container > .buttons button {
  margin-left: 4px;
  margin-right: 4px;
}

.rooms-create-field {
  @include button-add-field;
  margin: 10px;
}

img {
  max-width: 256px;
  max-height: 256px;
}
